@import url(/fonts/prompt.css);
@import url(/fonts/icon.css);
@import url(bootstrap/dist/css/bootstrap.min.css);
@import url(bootstrap-icons/font/bootstrap-icons.css);

:scope {
    /* M3 light color scheme */
    /* Material Theme Builder https://material-foundation.github.io/material-theme-builder */
    --md-sys-color-primary: rgb(40 106 72);
    --md-sys-color-surface-tint: rgb(40 106 72);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(173 242 198);
    --md-sys-color-on-primary-container: rgb(6 82 50);
    --md-sys-color-secondary: rgb(78 99 85);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(209 232 214);
    --md-sys-color-on-secondary-container: rgb(55 75 62);
    --md-sys-color-tertiary: rgb(59 100 113);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(191 233 248);
    --md-sys-color-on-tertiary-container: rgb(34 76 89);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(246 251 244);
    --md-sys-color-on-background: rgb(23 29 25);
    --md-sys-color-surface: rgb(246 251 244);
    --md-sys-color-on-surface: rgb(23 29 25);
    --md-sys-color-surface-variant: rgb(220 229 220);
    --md-sys-color-on-surface-variant: rgb(64 73 66);
    --md-sys-color-outline: rgb(113 121 114);
    --md-sys-color-outline-variant: rgb(192 201 192);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(44 50 45);
    --md-sys-color-inverse-on-surface: rgb(237 242 235);
    --md-sys-color-inverse-primary: rgb(146 213 171);
    --md-sys-color-primary-fixed: rgb(173 242 198);
    --md-sys-color-on-primary-fixed: rgb(0 33 17);
    --md-sys-color-primary-fixed-dim: rgb(146 213 171);
    --md-sys-color-on-primary-fixed-variant: rgb(6 82 50);
    --md-sys-color-secondary-fixed: rgb(209 232 214);
    --md-sys-color-on-secondary-fixed: rgb(11 31 20);
    --md-sys-color-secondary-fixed-dim: rgb(181 204 187);
    --md-sys-color-on-secondary-fixed-variant: rgb(55 75 62);
    --md-sys-color-tertiary-fixed: rgb(191 233 248);
    --md-sys-color-on-tertiary-fixed: rgb(0 31 39);
    --md-sys-color-tertiary-fixed-dim: rgb(163 205 220);
    --md-sys-color-on-tertiary-fixed-variant: rgb(34 76 89);
    --md-sys-color-surface-dim: rgb(214 219 213);
    --md-sys-color-surface-bright: rgb(246 251 244);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(240 245 238);
    --md-sys-color-surface-container: rgb(234 239 232);
    --md-sys-color-surface-container-high: rgb(228 234 227);
    --md-sys-color-surface-container-highest: rgb(223 228 221);
}

body {
    font-family: "Prompt";
}

body.kcBodyClass {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/image/background.webp") no-repeat top left fixed;
    background-size: cover;
    font-size: 14px;
}
